body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.title {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
/* Стилі для логотипу */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
}

.nav-link {
  color: var(--NAVY-BLUE, #2e2f42);

  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address .contact-link a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 0.3s ease;
  text-decoration: none;
}

.address .contact-link a:hover,
.address .contact-link a:focus {
  color: #404bbf !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Вирівнювання тексту у списку */
li {
  line-height: 1;
}

.address {
  display: flex;
  align-items: center;
  line-height: 1;
}

.address-style {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.address-style a {
  color: var(--SLATE, #434455);
  text-decoration: none;
}

/* Стилі для заголовка в першій секції */
.section-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/* Стилі для кнопки в першій секції */
.section-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Додаємо анімацію для плавного переходу кольору фону та тексту */
}

/* Стилі для ховера та фокусу на кнопці */
.section-button:hover {
  background-color: #404bbf;
  color: #ffffff; /* Додавання коліру тексту при ховері та фокусі */
}
.section-button:focus {
  background-color: #404bbf;
  color: #ffffff; /* Додавання коліру тексту при ховері та фокусі */
}

/* Section-2 */
/* Стилі для заголовка в списку */
/* Стилі для заголовка в списку */
.section-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* Стилі для параграфа в списку */
.section-list-item-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-list-item:nth-child(2) .section-list-item-title,
.section-list-item:nth-child(2) .section-list-item-paragraph 

.section-list-item:nth-child(3) .section-list-item-title,
.section-list-item:nth-child(3) .section-list-item-paragraph 

.section-list-item:nth-child(4) .section-list-item-title,
.section-list-item:nth-child(4) .section-list-item-paragraph 

/* Section 3 */
.section {
  background-color: #f4f4fd;
}

.header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.list-item {
  background-color: #ffffff;
}

.list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.list-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Section 4 */
.Portfolio-section {
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}

.Portfolio {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;

  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  /* 111.111% */
  letter-spacing: 1.11;
  text-transform: capitalize;
}

.Porfolio-position {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Start-apps {
  width: calc(33.33% - 20px);
  /* Розрахована ширина для 3-х елементів в ряду і з відступом між ними */
  box-sizing: border-box;
  justify-content: center;
  /* Відстань між зображенням та текстом */
}

/* Footer */
.footer {
  background-color: #2e2f42;
}

.footer .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer .logo span {
  color: #f4f4fd;
}

.footer .footer-paragraph {
  line-height: 1.5;
  color: var(--your-css-variable, #f4f4fd);
  letter-spacing: 0.02em;
}
